.u-section-1 .u-sheet-1 {
  min-height: 604px;
}

.u-section-1 .u-group-1 {
  min-height: 669px;
  height: auto;
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 538px;
  margin: -17px auto 0 -8px;
}

.u-section-1 .u-form-1 {
  height: 206px;
  margin: -357px 132px 0 622px;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  margin: 16px 160px 0 auto;
  padding: 10px 112px 10px 110px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-form-1 {
    margin-right: 32px;
    margin-left: 522px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 334px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 510px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: -399px;
    margin-left: 154px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 321px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}